:root{
    --nav-color: #032E63;
    --button-color: #C00156;
    --background-color: #F0EFF4;
    --hightlight-color: #D6B109;
    --br-color-grey:#afafb1;
    --light: #f8f9fa;
    --font-family-menu: Arial,sans-serif;
  }
.sign-up-container {
    min-height: 100vh;
    background: radial-gradient(rgb(177, 176, 176),var(--nav-color));
}
.sign-up__form-container{
    flex-direction: column;
    border: 1px solid var(--button-color);
    border-radius: 10px;
    width: 74%;
    box-shadow: 2px 2px 12px 2px var(--button-color);
    background:var(--light)!important;
    z-index: 10;
    min-height: 786px;
}
.sign-up__form-width {
    width: 66%;
}
.font-family{
    font-family: var(--font-family-menu)
}
.sign-up__sign-up-header {
    margin-bottom: 15px;
    font-size: 2rem;
}
.sign-up__better-buy-logo{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--nav-color);
}
.sign-up__better-buy-logo > img{
    width: 4rem !important;
}
.sign-up__form-elem-fs{
    font-size: 1rem;
}
.sign-up__placeholder-icon{
    position: relative;
    box-shadow: 4px 4px 6px 5px var(--background-color);
}
.sign-up__form-elem-p {
    padding-left: 1.5rem;
}
.sign-up__form-elem-br{
    border-color:var(--br-color-grey);
}
.sign-up__badge-bg{
    background-color: var(--hightlight-color);
    margin-top: 1.5rem;
}
.sign-up__bottom-icons > img{
    width: 25px;
    height: 25px;
}
.flex-1{
    flex: 1;
}

.sign-up__btn--btn-clr{
    color: var(--light)!important;
    background: var(--button-color);
    border: 1px solid var(--button-color);
    margin-top: 2rem;
    outline: var(--button-color);
}
.sign-up__btn--btn-hover:hover{
    background: var(--nav-color)!important;
    outline: var(--nav-color);
}
.sign-up__fa-icon {
    position: absolute;
    margin-top: 8px;
    margin-left: 5px;
    color: #78787a;
}
